/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: #34495e;
  font-size: 55px;
  line-height: 1;
}

main {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  animation-name: background-loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes background-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: box;
}

li {
  display: block;
}

button,
button:focus {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 35px;
}

input {
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  transition: color 1s;
  font-size: 35px;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

input::placeholder {
  color: white;
}

input:focus::placeholder {
  color: transparent;
}

.information {
  position: fixed;
  top: 0;
  right: 0;
}

.clock {
  margin-bottom: 32px;
  /* text-align: center; */
}

.name-form {
  margin-bottom: 32px;
}

.name .greeting {
  margin-bottom: 32px;
  /*  */
}

.to-do-form {
  margin-bottom: 16px;
}

.no-show {
  display: none;
}
